body{
	width: 100%;
}
div{
	display: block;
	
}
.menu{
	width:100%;
	hight: 500px;
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0;
	background: #000000;
	margin-left: 0;
	}
ul{
	list-style: none;
	margin:0;
	padding:0;
	margin-top: 0;
	hight: 100px;
	width: 100%;
	display: block;
}
.menu-link{
	text-decoration: none;
	background: #000000;
	color: #FFFFFF;
	padding:0px 50px;
	font-family: gigi;
	line-height: 70px;
	display: block;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	font-size: 30px;
}

a:hover{
	color: #D3FA41;
	
}	
li{
	float: right;
	}

a{
	color: #3394F6;
	font-size: 20px;
	font-family: areal;
}	
img{
	float: right;
}
