body{
	width: 100%;
	background-color: #D2CCC0;
	font-family: Agency FB;
}
div{
	display: block;
	
}
.menu{
	width:100%;
	hight: 500px;
	float: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0;
	background: #000000;
	margin-left: 0;
	}
ul{
	list-style: none;
	margin:0;
	padding:0;
	margin-top: 0;
	hight: 100px;
	width: 100%;
	display: block;
}
.menu-link{
	text-decoration: none;
	background: #000000;
	color: #FFFFFF;
	padding:0px 50px;
	font-family: gigi;
	line-height: 70px;
	display: block;
	-moz-transition: all 0.3s 0.01s ease;
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	font-size: 30px;
}

a:hover{
	color: #D3FA41;
	
}	
li{
	float: right;
	}

a{
	color: #3394F6;
	font-size: 20px;
	font-family: areal;
}
#kont_header{
	width: 100%;
	float: middle;
	font-family: gigi;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	color: #D3F500;
	margin-bottom: 0;
}	
#kont_subheader{
	width: 100%;
	font-family: gigi;
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
}
#kont_content_welcome{
	width: 50%;
	hight: 1500px;
	background: #D3FA41;
	float: left;
	font-size: larger;
}
	h2{
		margin-left: 80px;
	}
#kont_pers_pic{
	width: 50%;
	background: #FFFFFF;
	float: left;
	font-size: larger;
			}
		p{
			margin-top: 10px;
			margin-left: 80px;
			margin-right: 80px;
		}
img{
	float: right;
}
